<div class="_customer-ad_box-section">
    <div class="_customer-ad_box">
        <p class="_customer-ad_box__title">Наши преимущества</p>

        <div class="_customer-ad">
            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/235692/content_adv_1.png">
                <div class="_customer-ad__title">Постоянно расширяемый <br> ассортимент</div>
                <img src="/system/ckeditor_assets/pictures/235701/content_adv_polygon.png">
            </div>

            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/235693/content_adv_2.png">
                <div class="_customer-ad__title">Низкие цены за счет больших объемов <br> покупок напрямую у производителей</div>
                <img src="/system/ckeditor_assets/pictures/235701/content_adv_polygon.png">
            </div>


            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/235694/content_adv_3.png">
                <div class="_customer-ad__title">Работаем со всеми регионами <br> РФ, доставка удобной для вас ТК</div>
                <img src="/system/ckeditor_assets/pictures/235701/content_adv_polygon.png">
            </div>

        </div>

        <div class="_customer-ad">

            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/235695/content_adv_4.png">
                <div class="_customer-ad__title">На всю продукцию есть <br> разрешительная документация</div>
                <img src="/system/ckeditor_assets/pictures/235701/content_adv_polygon.png">
            </div>

            <div class="_customer-ad__item">
                <img src="/system/ckeditor_assets/pictures/235700/content_adv_5.png">
                <div class="_customer-ad__title">Помощь в подготовке технического <br> задания</div>
                <img src="/system/ckeditor_assets/pictures/235701/content_adv_polygon.png">
            </div>


        </div>
    </div>
</div>
