<div class="_customer_about-section">
    <div class="_customer_about">
        <div class="_customer_about-txt">
            <p>О компании</p>
            <p>
                Медлогистикс&nbsp;- федеральный поставщик медицинской мебели и оборудования. Мы вносим свой значительный вклад в жизнь и здоровье
                миллионов людей, поставляя медицинское оборудование и мебель по доступным ценам. Это позволяет удовлетворять потребности лечебных
                учреждений и эффективно расходовать бюджетные средства. Доставка по всей России
            </p>
            <div class="_customer_about-button">
                <a href="/pages/20553-o-kompanii">Подробнее о нашей компании</a>
                <a href="/pages/20553-o-kompanii"></a>
            </div>
        </div>
        <img class="_customer_about-img" src="/system/ckeditor_assets/pictures/235945/content_about-img.png" alt="">
    </div>
</div>
<div class="_customer-section">
    <div class="_customer-delivery-form">
        <img class="_customer-delivery-form_img" src="/system/ckeditor_assets/pictures/235663/content_form_img.png">
        <div class="_customer-delivery-form_text">
            <p>Остались вопросы?</p>
            <p>Свяжитесь с нами удобным способом</p>
        </div>
        <div class="_customer-delivery-form_mail">
            <a href="mailto:sales@medlogistiks.ru" target="_blank" rel="noopener nofollow" onclick="yaCounter71088685.reachGoal('megasite_mainpage_email'); return true;">sales@medlogistiks.ru</a>
        </div>
        <div class="_customer-delivery-form_phone">
            <a href="tel:+78005501037" rel="noopener nofollow" onclick="yaCounter71088685.reachGoal('megasite_mainpage_tel'); return true;">8 (800) 550-10-37</a>
        </div>
        <div class="_customer-button_form apress-button ab-order js-apress-order-button js-orders-callback-link" data-agreements="Нажимая &quot;&lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: mobile.apress.orders.hbs.callback.mobile.button&quot;&gt;Заказать звонок&lt;/span&gt;&quot;, вы даете согласие на обработку персональных данных в соответствии с &lt;a href=&quot;https://www.pulscen.ru/about/privacy&quot; target=&quot;_blank&quot; class=&quot;aui-link&quot;&gt;политикой конфиденциальности&lt;/a&gt; и принимаете условия &lt;a href=&quot;https://www.pulscen.ru/about/terms&quot; target=&quot;_blank&quot; class=&quot;aui-link&quot;&gt;пользовательского соглашения&lt;/a&gt;." data-app-order-confirm="&lt;p&gt; &lt;span style=&quot;font-size:16px;&quot;&gt;Покупка товаров и отслеживание статуса заказа в мобильном приложении.&lt;/span&gt;&lt;/p&gt; &lt;div&gt; &lt;p&gt; В бесплатном приложении Пульса цен более 9 млн товаров и услуг, возможность быстро найти товар, связаться с поставщиком и оформить заказ. &lt;/p&gt; &lt;/div&gt; &lt;p&gt;  &lt;/p&gt;" data-button-type="order_callback" data-company="99740358" data-company-id="99740358" data-company-name="Медлогистикс" data-company-name-rest="" data-company-url="/catalog" data-params="{&quot;company_id&quot;:&quot;99740358&quot;}" data-statistics="1" data-type="callback" onclick="yaCounter71088685.reachGoal('megasite_mainpage_callback'); return true;">Заказать звонок</div>
    </div>
</div>
