<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">

<style>
    .tmpl-company-content {
        background-color: transparent !important;
    }

    .company-content__column-second-wrapper {
        padding: 0 !important;
        background-color: transparent;
        border-radius: 0;
    }

    .modern-skin .company-content .search-form {
        display: none;
    }

    .modern-skin .ccc-2-3 .s-block {
        background: transparent !important;
    }

    .modern-skin .company-content {
        max-width: 100% !important;
        padding: 0 !important;
    }

    .company-site {
        border-radius: 0;
    }

    .modern-skin .ccc-2-3 .sb-body {
        padding: 0 !important;
    }

    #company-content-wrapper {
        max-width: 100% !important;
        background: #F9FCFF;
    }

    .cp-text-wrapper {
        margin: 0 !important;
    }

    .modern-skin .company-header {
        margin: 0 !important;
        height: 0 !important;
    }

    .modern-skin .company-header-title {
        visibility: hidden;
        height: 0 !important;
    }

    .breadcrumbs-slider-wrapper {
        visibility: hidden;
        height: 0 !important;
    }

    .company-header-tail {
        margin-left: 100px;
        z-index: 2;
    }

    .mobile-page .cpc-header {
        visibility: hidden;
        height: 0 !important;
        margin: 0 !important;
    }

    .footer-container {
        margin-top: 0;
    }

    .mobile-page .company-page-content {
        padding: 0 !important;
        border-radius: 0 !important;
        margin: 0 !important;
    }

    .company-content {
        max-width: 100% !important;
        padding: 0 !important;
        background: #fff !important;
    }

    .sb-body {
        padding: 0 !important;
    }

    .cp-text-wrapper {
        margin: 0 !important;
    }

    .breadcrumbs-slider-wrapper {
        display: none !important;
    }

    .company-header {
        text-align: center;
        margin: 0 !important;
    }

    .company-header-title,
    .cpc-header {
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
        position: absolute;
        margin: -1px;
    }

    ._customer-page__container {
        width: 100%;
        max-width: 1168px;
        box-sizing: border-box;
        padding: 0 10px;
        margin: 0 auto;
    }

    ._customer-button {
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        min-height: 50px;
        box-sizing: border-box;
        outline: none;
        border: 2px solid #2883C1;
        border-radius: 0;
        padding: 0 15px;
        background-color: #2883C1;
        color: #fff !important;
        font: 900 13px/1.2 inter, sans-serif;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
    }

    ._customer-button_gradient {
        border: none !important;
        padding: 0 17px;
        background: linear-gradient(to top, #2883C1, #0669AC);
        color: #fff !important;
    }

    ._customer-button_gradient:hover {
        background: linear-gradient(to top, #5ba0d2, #5ba0d2);
    }

    ._customer-button_light {
        border-color: #f3f9fd;
        background-color: #f3f9fd;
        color: #000 !important;
    }

    ._customer-button_white {
        border-color: #fff !important;
        background-color: #fff !important;
        color: #000 !important;
    }

    ._customer-button:hover {
        border-color: #5ba0d2 !important;
        background-color: #5ba0d2 !important;
        color: #fff !important;
    }

    ._customer-anchor {
        display: block;
        font-size: 0;
        line-height: 0;
        position: relative;
        top: -210px;
    }

    ._customer-page {
        background: #F9FCFF;
        color: #000;
        font: 500 16px/20px "Montserrat", sans-serif;
        cursor: default;
    }

    ._customer-page * {
        font-family: Montserrat, sans-serif;
    }

    ._customer-page__section {
        width: 100%;
        box-sizing: border-box;
        padding: 100px 0;
    }

    ._customer-page__header {
        color: #051E3C !important;
        font: 500 36px/44px 'Montserrat', sans-serif !important;
        margin: 0 0 20px 0 !important;
    }

    @media screen and (max-width: 1023px) {
        ._customer-page {
            font-size: 16px;
        }

        ._customer-page__section {
            padding: 50px 0;
        }

        ._customer-page__header {
            text-align: center;
            font-size: 30px !important;
            margin-bottom: 0 !important;
        }
    }

    ._customer-contacts {
        background: transparent;
        padding: 100px 0 50px !important;
    }

    ._customer-contacts__header {
        margin-bottom: 30px !important;
    }

    ._customer-contacts__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    ._customer-contacts__contact {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 25px;
        color: #000000 !important;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        position: relative;
        margin: 20px 10px 0 0 !important;
        white-space: nowrap;
    }

    ._customer-contacts__contact_time {
        margin: 20px 0 0 0 !important;
    }

    ._customer-contacts__contact_phone:hover,
    ._customer-contacts__contact_email:hover {
        color: #2883c1 !important;
    }

    ._customer-contacts__contact:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 24px;
        position: absolute;
        background-image: url("/system/ckeditor_assets/pictures/378842/content_address.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    ._customer-contacts__contact_phone:before {
        width: 18px;
        height: 18px;
        background-image: url("/system/ckeditor_assets/pictures/378843/content_phone.png");
    }

    ._customer-contacts__contact_email:before {
        width: 17px;
        height: 13px;
        background-image: url("/system/ckeditor_assets/pictures/378844/content_mail.png");
    }

    ._customer-contacts__contact_time:before {
        width: 18px;
        height: 18px;
        background-image: url("/system/ckeditor_assets/pictures/378845/content_clock.png");
    }

    ._customer-contacts__descriptor {
        display: block;
        color: #000;
        font-weight: 300;
        font-size: 16px;
        white-space: normal;
        margin-top: .5em;
    }

    @media screen and (max-width: 990px) {
        ._customer-contacts {
            background: transparent;
            padding: 40px 0 !important;
        }

        ._customer-contacts__main {
            justify-content: center;
            flex-wrap: wrap;
        }

        ._customer-contacts__contact {
            margin: 20px 10px 0 0 !important;
        }
    }

    @media screen and (max-width: 430px) {
        ._customer-contacts__main {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
        }

        ._customer-contacts__contact {
            margin: 10px 0 0 !important;
        }

        ._customer-contacts__contact:nth-of-type(2n) {
            margin: 10px 0 0 !important;
        }

        ._customer-contacts__contact_address {
            white-space: normal;
            max-width: 270px;
            text-align: center;
        }

        ._customer-contacts__contact_address:before {
            top: 3px;
            transform: none;
            left: 40px;
        }
    }

    ._customer-pick {
        background: #F9FCFF;
        box-sizing: border-box;
        padding: 0 10px 100px;
    }

    ._customer-pick ._customer-page__container {
        width: 100%;
        max-width: 1168px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0;
    }

    ._customer-pick__map-wrapper {
        border: 1px solid #C3E4EB;
        box-shadow: 0 10px 20px -9px #D3E5EB;
    }

    ._customer-pick__info {
        box-sizing: border-box;
        padding: 50px;
        background: #ffffff;
    }

    ._customer-pick__header {
        font-weight: 700 !important;
        font-size: 26px !important;
        line-height: 32px !important;
        color: #252525 !important;
        margin-bottom: 0 !important;
    }

    ._customer-pick__city {
        display: inline-block;
        text-transform: none;
    }

    ._customer-pick__points {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    ._customer-pick__point {
        box-sizing: border-box;
        width: calc(50% - 5px);
        margin: 0 10px 0 0;
    }

    ._customer-pick__point:nth-of-type(2n) {
        margin: 0;
    }

    ._customer-pick__company {
        width: 100%;
        font-weight: 600;
        font-size: 1.3em;
        margin-bottom: .5em;
    }

    ._customer-pick__time,
    ._customer-pick__address {
        font: 500 18px/24px "Montserrat", sans-serif;
        box-sizing: border-box;
        padding-left: 25px;
        position: relative;
    }

    ._customer-pick__time span {
        white-space: nowrap;
    }

    ._customer-pick__address {
        margin-bottom: .5em;
    }

    ._customer-pick__time:before,
    ._customer-pick__address:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 24px;
        background: center no-repeat;
        position: absolute;
        top: 2px;
        left: 0;
    }

    ._customer-pick__address:before {
        background-image: url("/system/ckeditor_assets/pictures/378842/content_address.png");
    }

    @media screen and (max-width: 1160px) {

        ._customer-pick__company {
            font-size: 1em;
        }

        ._customer-pick__time,
        ._customer-pick__address {
            font-size: 16px;
        }
    }

    ._customer-pick__map {
        width: 100%;
        height: auto;
        background: #fff;
        overflow: hidden;
        position: relative;
    }

    @media screen and (max-width: 1023px) {

        ._customer-pick__info {
            padding: 30px 20px;
        }

        ._customer-pick__address {
            margin-top: 1em;
        }
    }

    @media screen and (max-width: 660px) {
        ._customer-pick__points {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        ._customer-pick__point {
            width: 100%;
            margin: 0 !important;
        }

        ._customer-pick__info {
            padding: 30px 10px;
        }
    }

    ._customer-pick__filter {
        margin-top: 50px;
    }
    ._customer-pick-filter__search {
        display: none;
        /*display: block;*/
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 1px solid #0669ac;
        padding: 0 30px 22px 0;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath fill='%23000' d='M21.163 19.625a1.12 1.12 0 010 1.582 1.115 1.115 0 01-1.58 0l-4.736-4.746a.078.078 0 00-.102-.008 8.919 8.919 0 01-11.74-.783c-3.487-3.496-3.487-9.163 0-12.658a8.918 8.918 0 0112.632 0c3.204 3.21 3.465 8.255.781 11.764a.078.078 0 00.008.102zM4.585 4.594a6.723 6.723 0 000 9.493 6.688 6.688 0 009.473 0 6.723 6.723 0 000-9.493 6.688 6.688 0 00-9.473 0z'/%3E%3C/svg%3E") top right no-repeat;
        box-shadow: none;
        color: #000;
        font: 400 16px/1 Inter, sans-serif;
        margin-bottom: 30px;
    }

    ._customer-pick-filter__search::-webkit-input-placeholder {
        color: #000;
    }

    ._customer-pick-filter__search::-moz-placeholder {
        color: #000;
    }

    ._customer-pick-filter__search:-moz-placeholder {
        color: #000;
    }

    ._customer-pick-filter__search:-ms-input-placeholder {
        color: #000;
    }

    ._customer-pick-filter__menu {
        display: flex;
        justify-content: space-between;
        padding: 0;
        list-style: none !important;
        margin: 25px 0 0 !important;
    }

    ._customer-pick-filter__menu_hidden {
        display: none;
    }

    @media screen and (max-width: 750px) {
        ._customer-pick-filter__menu {
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }

    ._customer-pick-filter__item {
        display: inline-flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        background: #106ED4;
        color: #5EA5F2;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px !important;
        text-align: center;
        cursor: pointer;
        margin-bottom: 6px;
    }

    ._customer-pick-filter__item:not(:last-child) {
        margin-right: 6px;
    }

    ._customer-pick-filter__item:hover {
        color: #fff;
    }

    ._customer-pick-filter__item_active {
        color: #fff;
    }

    ._customer-pick-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    ._customer-pick-list__separator {
        width: 100%;
        color: #000;
        font: 700 52px/1 "Montserrat", sans-serif;
        text-align: left;
        text-transform: uppercase;
        margin: 25px 0;
    }

    ._customer-pick-list__separator_hidden {
        display: none;
    }

    ._customer-pick-list__item {
        width: calc(33% - 10px);
        min-width: 180px;
        position: relative;
        cursor: pointer;
        font: 500 20px/26px "Montserrat", sans-serif;
        margin: 0 10px 20px 0 !important;
    }

    ._customer-pick-list__item:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    ._customer-pick-list__item_hidden {
        display: none;
    }

    ._customer-pick-list__item span {
        font: 500 20px/26px "Montserrat", sans-serif;
        color: #051E3C;
    }

    ._customer-pick-list__item:hover span {
        color: #106ED4;
        text-decoration: underline;
        font-weight: 700;
    }

    ._customer-pick-list__item_active span {
        color: #106ED4;
        text-decoration: underline;
        font-weight: 700;
    }

    @media (max-width: 500px) {
        ._customer-pick-list {
            flex-direction: column;
        }

        ._customer-pick-list__item {
            width: 100%;
            min-width: 100%;
            margin: 0 0 20px 0 !important;
        }
    }
</style>

<div class="_customer-page">
    <div class="_customer-page__section _customer-contacts">
        <div class="_customer-page__container">
            <h2 class="_customer-page__header">Контакты</h2>
            <div class="_customer-contacts__main">
                <p class="_customer-contacts__contact _customer-contacts__contact_address">
                    <span>г.&nbsp;Санкт-Петербург, ш.&nbsp;Революции,&nbsp;69б, <br>
                    литера&nbsp;Б, помещение&nbsp;2Н,&nbsp;3Н офис&nbsp;218</span>
                </p>
                <a class="_customer-contacts__contact _customer-contacts__contact_phone"
                   href="tel:+78005501037" rel="noopener nofollow"
                   onclick="yaCounter71088685.reachGoal('megasite_page_tel'); return true;">
                    <span>8 (800) 550-10-37</span>
                </a>
                <a class="_customer-contacts__contact _customer-contacts__contact_email"
                   href="mailto:sales@medlogistiks.ru" target="_blank" rel="noopener nofollow"
                   onclick="yaCounter71088685.reachGoal('megasite_page_email'); return true;">
                    <span>sales@medlogistiks.ru</span>
                </a>
                <p class="_customer-contacts__contact _customer-contacts__contact_time">
                    <span>пн-пт 9:00-18:00</span>
                </p>
            </div>
        </div>
    </div>
    <div class="_customer-page__section _customer-pick">
        <div class="_customer-page__container">
            <span class="_customer-anchor" id="_customer-pick">&nbsp;</span>
            <div class="_customer-pick__map-wrapper">
                <div class="_customer-pick__info">
                    <h2 class="_customer-page__header _customer-pick__header">Пункты самовывоза
                        <span class="_customer-pick__city"></span></h2>
                    <div class="_customer-pick__points">

                    </div>
                </div>
                <div class="_customer-pick__map">
                    <div id="map" class="map" style="width:100%;height:450px"></div>
                </div>
            </div>
            <div class="_customer-pick__filter _customer-pick-filter">
                <input class="_customer-pick-filter__search" id="filter-input" type='text'
                       placeholder="Введите название города">
                <ul class="_customer-pick-filter__menu">
                    <li class="_customer-pick-filter__item _customer-pick-filter__item_active">В</li>
                    <li class="_customer-pick-filter__item">Е</li>
                    <li class="_customer-pick-filter__item">И</li>
                    <li class="_customer-pick-filter__item">К</li>
                    <li class="_customer-pick-filter__item">М</li>
                    <li class="_customer-pick-filter__item">Н</li>
                    <li class="_customer-pick-filter__item">О</li>
                    <li class="_customer-pick-filter__item">П</li>
                    <li class="_customer-pick-filter__item">Р</li>
                    <li class="_customer-pick-filter__item">С</li>
                    <li class="_customer-pick-filter__item">Т</li>
                    <li class="_customer-pick-filter__item">У</li>
                    <li class="_customer-pick-filter__item">Х</li>
                    <li class="_customer-pick-filter__item">Ч</li>
                    <li class="_customer-pick-filter__item">Ю</li>
                </ul>
            </div>
            <div class="_customer-pick__list _customer-pick-list" id="filter-container">

                <div class="_customer-pick-list__separator">В</div>

                <div class="_customer-pick-list__item" data-city="Владивосток"
                     data-coordinates="131.917592, 43.131523" data-zoom="17" data-point="
                        {address:'г.&nbsp;Владивосток, Военное&nbsp;шоссе&nbsp;18'}">
                    <span>Владивосток</span>
                </div>
                <div class="_customer-pick-list__item" data-city="Волгоград"
                     data-coordinates="44.438279, 48.756731" data-zoom="14" data-point="
                        {address:'г.&nbsp;Волгоград, ул.&nbsp;Моторная,&nbsp;9А'},
                        {address:'г.&nbsp;Волгоград, ул.&nbsp;Землячки,&nbsp;16'}">
                    <span>Волгоград</span>
                </div>
                <div class="_customer-pick-list__item" data-city="Воронеж"
                     data-coordinates="39.234725, 51.694334" data-zoom="13" data-point="
                        {address:'г.&nbsp;Воронеж, ул.&nbsp;Торпедо,&nbsp;45В'},
                        {address:'г.&nbsp;Воронеж, ул.&nbsp;Придорожная,&nbsp;28'},
                        {address:'г.&nbsp;Воронеж, ул.&nbsp;Землячки,&nbsp;15'},
                        {address:'г.&nbsp;Воронеж, ул.&nbsp;Солнечная,&nbsp;10Б, литера&nbsp;В'}">
                    <span>Воронеж</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">Е</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Екатеринбург"
                     data-coordinates="60.611562, 56.838512" data-zoom="10" data-point="
                        {address:'г.&nbsp;Екатеринбург, г.&nbsp;Березовский, Режевской&nbsp;тракт,&nbsp;15й&nbsp;км'},
                        {address:'г.&nbsp;Екатеринбург, ул.&nbsp;Черняховского,&nbsp;86/7'},
                        {address:'г.&nbsp;Екатеринбург, ул.&nbsp;Таганская,&nbsp;60'},
                        {address:'г.&nbsp;Екатеринбург, ул.&nbsp;Монтажников,&nbsp;30А'},
                        {address:'г.&nbsp;Екатеринбург, ул.&nbsp;Чистопольская,&nbsp;6'},
                        {address:'г.&nbsp;Екатеринбург, ул.&nbsp;Норильская,&nbsp;77 (База&nbsp;«Звезда»)'},
                        {address:'г.&nbsp;Екатеринбург, ул.&nbsp;Титова,&nbsp;19'}">
                    <span>Екатеринбург</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">И</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Иркутск"
                     data-coordinates="104.226331, 52.324327" data-zoom="12" data-point="
                        {address:'г.&nbsp;Иркутск, Набережная Иркута,&nbsp;1/1'},
                        {address:'г.&nbsp;Иркутск, ул.&nbsp;Новаторов,&nbsp;1'}">
                    <span>Иркутск</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">К</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Казань"
                     data-coordinates="49.122422, 55.792765" data-zoom="11" data-point="
                        {address:'г.&nbsp;Казань, ул.&nbsp;Аделя Кутуя,&nbsp;151'},
                        {address:'г.&nbsp;Казань, ул.&nbsp;Восстания,&nbsp;100к5080'},
                        {address:'г.&nbsp;Казань, Приволжский район, ул.&nbsp;Магистральная,&nbsp;4'},
                        {address:'г.&nbsp;Казань, ул.&nbsp;Техническая,&nbsp;52А'}">
                    <span>Казань</span>
                </div>
                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Калининград"
                     data-coordinates="20.540210, 54.719207" data-zoom="14" data-point="
                        {address:'г.&nbsp;Калининград, Московский пр-т,&nbsp;184'},
                        {address:'г.&nbsp;Калининград, ул.&nbsp;Пригородная,&nbsp;20'},
                        {address:'г.&nbsp;Калининград, ул.&nbsp;Генерал&#8209;лейтенанта Озерова,&nbsp;30'}">
                    <span>Калининград</span>
                </div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Кемерово"
                     data-coordinates="86.095088, 55.327303" data-zoom="13" data-point="
                          {address:'г.&nbsp;Кемерово, ул.&nbsp;Тухачевского,&nbsp;60'},
                          {address:'г.&nbsp;Кемерово, пр.&nbsp;Ленина,&nbsp;1'}">
                    <span>Кемерово</span>
                </div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Краснодар"
                     data-coordinates="39.025119, 45.076336" data-zoom="12" data-point="
                        {address:'г.&nbsp;Краснодар, ул.&nbsp;А.&nbsp;Покрышкина,&nbsp;2/4'},
                        {address:'г.&nbsp;Краснодар, ул.&nbsp;Уральская,&nbsp;126/1'},
                        {address:'г.&nbsp;Краснодар, ул.&nbsp;Бульварная,&nbsp;2/2'},
                        {address:'г.&nbsp;Краснодар, ул.&nbsp;Новороссийская,&nbsp;216/2'}">
                    <span>Краснодар</span>
                </div>
                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Красноярск"
                     data-coordinates="92.935908, 56.076881" data-zoom="15" data-point="
                        {address:'г.&nbsp;Красноярск, Северное шоссе,&nbsp;17'},
                        {address:'г.&nbsp;Красноярск, Северное шоссе, 5Г&nbsp;стр.&nbsp;26'}">
                    <span>Красноярск</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">М</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Махачкала"
                     data-coordinates="47.520644,42.962378" data-zoom="17" data-point="
                        {address:'г.&nbsp;Махачкала, пер.&nbsp;Индустриальный,&nbsp;11'}">
                    <span>Махачкала</span>
                </div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Москва"
                     data-coordinates="37.668304, 55.766883" data-zoom="10" data-point="
                        {address:'г.&nbsp;Москва, ул.&nbsp;Лобненская,&nbsp;18'},
                        {address:'г.&nbsp;Москва, Волгоградский пр-т,&nbsp;42, к.23'},
                        {address:'г.&nbsp;Москва, ул.&nbsp;Подольских Курсантов,&nbsp;17, к.2'},
                        {address:'г.&nbsp;Москва, 1&#8209;й&nbsp;Вязовский&nbsp;пр-д,&nbsp;4, стр.19'}">
                    <span>Москва</span>
                </div>
                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Мурманск"
                     data-coordinates="33.133457, 68.996452" data-zoom="14" data-point="
                        {address:'г.&nbsp;Мурманск, ул.&nbsp;Промышленная,&nbsp;19, Деловой центр «Гринвич» (въезд с&nbsp;ул.&nbsp;Домостроительной,&nbsp;8)'},
                        {address:'г.&nbsp;Мурманск, ул.&nbsp;Домостроительная,&nbsp;16/1, 2&nbsp;этаж'}">
                    <span>Мурманск</span>
                </div>


                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">Н</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Нижний Новгород"
                     data-coordinates="43.925877, 56.283005" data-zoom="12" data-point="
                        {address:'г.&nbsp;Нижний Новгород, Московское&nbsp;шоссе,&nbsp;52'},
                        {address:'г.&nbsp;Нижний Новгород, ул.&nbsp;Геологов,&nbsp;1'},
                        {address:'г.&nbsp;Нижний Новгород, ул.&nbsp;Удмуртская,&nbsp;38'}">
                    <span>Нижний Новгород</span>
                </div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Новосибирск"
                     data-coordinates="82.864685, 55.039381" data-zoom="10" data-point="
                        {address:'г.&nbsp;Новосибирск, ул.&nbsp;Петухова,&nbsp;79/3 (Северный проезд,&nbsp;47)'},
                        {address:'г.&nbsp;Новосибирск, ул.&nbsp;Сухарная,&nbsp;35/1'},
                        {address:'г.&nbsp;Новосибирск, ул.&nbsp;Авиастроителей,&nbsp;30'},
                        {address:'г.&nbsp;Новосибирск, ул.&nbsp;Толмачевская,&nbsp;19, к.10'},
                        {address:'г.&nbsp;Новосибирск, ул.&nbsp;Кубовая,&nbsp;25 к.1'},
                        {address:'г.&nbsp;Новосибирск, ул.&nbsp;Станционная,&nbsp;80 к.2'}">
                    <span>Новосибирск</span>
                </div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Норильск"
                     data-coordinates="88.188742,69.348546" data-zoom="17" data-point="
                        {address:'г.&nbsp;Норильск, ул.&nbsp;Комсомольская,&nbsp;35'}">
                    <span>Норильск</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">О</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Омск"
                     data-coordinates="73.462062, 54.987419" data-zoom="14" data-point="
                        {address:'г.&nbsp;Омск, ул.&nbsp;10&nbsp;лет Октября,&nbsp;180Б, литера&nbsp;Б'},
                        {address:'г.&nbsp;Омск, пр-т&nbsp;Космический,&nbsp;109 к.1'}">
                    <span>Омск</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">П</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Пермь"
                     data-coordinates="56.169968, 57.982905" data-zoom="11" data-point="
                        {address:'г.&nbsp;Пермь, ул.&nbsp;Танкистов,&nbsp;50'},
                        {address:'г.&nbsp;Пермь, ул.&nbsp;Докучаева,&nbsp;50/2'},
                        {address:'г.&nbsp;Пермь, ул.&nbsp;Ленина,&nbsp;79'},
                        {address:'г.&nbsp;Пермь, ул.&nbsp;Промышленная,&nbsp;123'},
                        {address:'г.&nbsp;Пермь, ул.&nbsp;Трамвайная,&nbsp;14'}">
                    <span>Пермь</span>
                </div>
                <div class="_customer-pick-list__item _customer-pick-list__item_hidden"
                     data-city="Петропавловск-Камчатский" data-coordinates="158.600109,53.067468" data-zoom="17"
                     data-point="{address:'г.&nbsp;Петропавловск-Камчатский, ул.&nbsp;Абеля&nbsp;6'}">
                    <span>Петропавловск-Камчатский</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">Р</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Ростов-на-Дону"
                     data-coordinates="39.614301, 47.199502" data-zoom="16" data-point="
                        {address:'г.&nbsp;Ростов-на-Дону, ул.&nbsp;Малиновского,&nbsp;3'},
                        {address:'г.&nbsp;Ростов-на-Дону, ул.&nbsp;Каширская,&nbsp;5'}">
                    <span>Ростов-на-Дону</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">С</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Самара"
                     data-coordinates="50.252548, 53.190771" data-zoom="10" data-point="
                        {address:'г.&nbsp;Самара, ул.&nbsp;Демократическая,&nbsp;45А'},
                        {address:'Самарская&nbsp;обл., Волжский&nbsp;р-н, с.&nbsp;Преображенка, ул.&nbsp;Индустриальная,&nbsp;1А/1'},
                        {address:'г.&nbsp;Самара, ул.&nbsp;Механиков,&nbsp;2'},
                        {address:'г.&nbsp;Самара, ул.&nbsp;Земеца,&nbsp;32'},
                        {address:'г.&nbsp;Самара, ул.&nbsp;Верхне-Карьерная,&nbsp;3А'}">
                    <span>Самара</span>
                </div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Санкт-Петербург"
                     data-coordinates="30.454217, 59.938533" data-zoom="10" data-point="
                        {address:'г.&nbsp;Санкт-Петербург, 2&#8209;й&nbsp;Верхний пер.,&nbsp;13А'},
                        {address:'г.&nbsp;Санкт-Петербург, ул.&nbsp;Латышских Стрелков,&nbsp;31А'},
                        {address:'г.&nbsp;Санкт-Петербург, ул.&nbsp;Кубинская,&nbsp;75'},
                        {address:'г.&nbsp;Санкт-Петербург, пр-т&nbsp;Стачек,&nbsp;45/2'},
                        {address:'г.&nbsp;Санкт-Петербург, п.&nbsp;Шушары, Московское шоссе,&nbsp;52А'},
                        {address:'г.&nbsp;Санкт-Петербург, ул.&nbsp;Воздухоплавательная,&nbsp;19, литера&nbsp;А'},
                        {address:'г.&nbsp;Санкт-Петербург, ул.&nbsp;Запорожская, логопарк «Троицкий» (ст.&nbsp;м.&nbsp;Обухово)'}">
                    <span>Санкт-Петербург</span>
                </div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Ставрополь"
                     data-coordinates="41.919670, 45.071121" data-zoom="14" data-point="
                        {address:'г.&nbsp;Ставрополь, пр-т&nbsp;Кулакова,&nbsp;28Б'},
                        {address:'г.&nbsp;Ставрополь, ул.&nbsp;2&#8209;я&nbsp;Промышленная,&nbsp;33'}">
                    <span>Ставрополь</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">Т</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Тюмень"
                     data-coordinates="65.646596, 57.126776" data-zoom="12" data-point="
                        {address:'г.&nbsp;Тюмень, Ялуторовский&nbsp;тракт, 11&nbsp;км,&nbsp;9Д'},
                        {address:'г.&nbsp;Тюмень, ул.&nbsp;Одесская,&nbsp;1, стр.8'}">
                    <span>Тюмень</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">У</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Улан-Удэ"
                     data-coordinates="107.507864, 51.843393" data-zoom="16" data-point="
                        {address:'г.&nbsp;Улан-Удэ, ул.&nbsp;Учебная,&nbsp;2А'}">
                    <span>Улан-Удэ</span>
                </div>
                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Уфа"
                     data-coordinates="55.986985, 54.736197" data-zoom="11" data-point="
                        {address:'г.&nbsp;Уфа, ул.&nbsp;Трамвайная,&nbsp;2'},
                        {address:'г.&nbsp;Уфа, ул.&nbsp;Майкопская,&nbsp;59'},
                        {address:'г.&nbsp;Уфа, ул.&nbsp;Сельская Богородская,&nbsp;57'},
                        {address:'г.&nbsp;Уфа, ул.&nbsp;Бессонова,&nbsp;2Б'}">
                    <span>Уфа</span>
                </div>


                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">Х</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Хабаровск"
                     data-coordinates="135.129108, 48.473386" data-zoom="12" data-point="
                        {address:'г.&nbsp;Хабаровск, ул.&nbsp;Целинная,&nbsp;8'},
                        {address:'г.&nbsp;Хабаровск, ул.&nbsp;Лазо,&nbsp;3С'}">
                    <span>Хабаровск</span>
                </div>


                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">Ч</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Челябинск"
                     data-coordinates="61.423492, 55.168904" data-zoom="11" data-point="
                        {address:'г.&nbsp;Челябинск, Свердловский тракт,&nbsp;5'},
                        {address:'г.&nbsp;Челябинск, ул.&nbsp;Северный луч,&nbsp;1А'},
                        {address:'г.&nbsp;Челябинск, Троицкий тракт,&nbsp;54'}">
                    <span>Челябинск</span>
                </div>
                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Чита"
                     data-coordinates="113.476176, 52.068092" data-zoom="14" data-point="
                        {address:'г.&nbsp;Чита, ул.&nbsp;Сухая&nbsp;Падь,&nbsp;3'},
                        {address:'г.&nbsp;Чита, ул.&nbsp;Туринская,&nbsp;1Б'}">
                    <span>Чита</span>
                </div>

                <div class="_customer-pick-list__separator _customer-pick-list__separator_hidden">Ю</div>

                <div class="_customer-pick-list__item _customer-pick-list__item_hidden" data-city="Южно-Сахалинск"
                     data-coordinates="142.735196, 46.995538" data-zoom="14" data-point="
                       {address:'г.&nbsp;Южно-Сахалинск, пр-т&nbsp;Мира,&nbsp;2В/3А, стр.1'}">
                    <span>Южно-Сахалинск</span>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;coordorder=longlat&amp;apikey=6732faea-e23d-40d7-b70a-44f14e6f8563"></script>
<script>
    let map = '';

    const switchLetters = (e) => {
        if (e.target.classList.contains('_customer-pick-filter__item')) {
            let active = document.querySelector('._customer-pick-filter__item_active');
            if (active !== null) {
                active.classList.remove('_customer-pick-filter__item_active');
            }
            active = e.target;
            active.classList.add('_customer-pick-filter__item_active');

            let letter = active.textContent;

            let separators = document.querySelectorAll('._customer-pick-list__separator');
            for (let separator of separators) {
                separator.classList.add('_customer-pick-list__separator_hidden');
            }
            Array.from(separators).filter(separator => separator.textContent == letter)[0].classList.remove('_customer-pick-list__separator_hidden');

            let cities = document.querySelectorAll('._customer-pick-list__item');
            for (let city of cities) {
                city.classList.add('_customer-pick-list__item_hidden');
            }
            for (let city of Array.from(cities).filter(city => city.querySelector('span').textContent.slice(0, 1) == letter)) {
                city.classList.remove('_customer-pick-list__item_hidden');
            }
        }
    }

    document.querySelector('._customer-pick-filter__menu').addEventListener('click', (e) => {
        switchLetters(e);
    });

    let currentCity = '';

    const switchMap = (map, center, zoom) => {
        const yandexMap = map;
        yandexMap.setCenter(center, zoom);
    }

    const switchContacts = (e) => {
        if (e.target.classList.contains('_customer-pick-list__item')) {
            let itemActive = document.querySelector('._customer-pick-list__item_active');
            if (itemActive) {
                itemActive.classList.remove('_customer-pick-list__item_active');
            }
            let item = e.target;
            item.classList.add('_customer-pick-list__item_active');
            let city = item.dataset.city;

            if (city !== currentCity) {
                document.querySelector('._customer-pick__header').setAttribute('style', 'margin-bottom:30px!important');

                let center = eval('([' + item.dataset.coordinates + '])');
                let zoom = item.dataset.zoom;
                if (map !== '' && center !== '' && zoom !== '') {
                    switchMap(map, center, zoom);
                }

                document.querySelector('._customer-pick__city').innerHTML = '(' + city + ')';
                document.querySelector('._customer-pick__points').innerHTML = '';

                let points = item.dataset.point;
                points = eval('([' + points + '])');
                for (let point of points) {
                    let item = document.createElement('div');
                    let address = `<div class="_customer-pick__address">` + point.address + `</div>`;
                    item.innerHTML = address;
                    document.querySelector('._customer-pick__points').appendChild(item).classList.add('_customer-pick__point');
                }

                document.querySelector('#_customer-pick').scrollIntoView({
                    block: 'start',
                    inline: 'nearest',
                    behavior: 'smooth'
                });
            }
        }
    }

    document.querySelector('._customer-pick__list').addEventListener('click', (e) => {
        switchContacts(e);
    });

    const initSearch = () => {
        const filterSearch = document.querySelector('#filter-input');
        const filterCities = document.querySelectorAll('#filter-container > ._customer-pick-list__item span');
        const filterLetters = document.querySelectorAll('._customer-pick-list__separator');
        const filterMenu = document.querySelector('._customer-pick-filter__menu');

        filterSearch.addEventListener('input', (e) => {
            const searchValue = e.target.value;
            let mainLine = new RegExp(' ').test(searchValue) ? searchValue.split(' ') : searchValue;

            if (filterSearch.value.trim().length != 0) {
                for (var i = 0; i < filterLetters.length; i++) {
                    filterLetters[i].style.display = 'none';
                    filterMenu.classList.add('_customer-pick-filter__menu_hidden');
                }
            } else {
                for (var i = 0; i < filterLetters.length; i++) {
                    filterLetters[i].style.display = '';
                    filterMenu.classList.remove('_customer-pick-filter__menu_hidden');
                }
            }

            let matches = Array.from(filterCities).filter(dataValue => {
                if (typeof mainLine === 'string') {
                    const regex = new RegExp(`${searchValue.toLowerCase()}`, 'gm');
                    return dataValue.textContent.toLowerCase().match(regex);
                } else {
                    const totalResult = mainLine.filter(mainValueValue => {
                        const regex = new RegExp(`${mainValueValue.toLowerCase()}`, 'gm');
                        return dataValue.textContent.toLowerCase().match(regex);
                    });
                    if (totalResult.length === mainLine.length) {
                        return dataValue;
                    }
                }
            });

            if (searchValue.length === 0) {
                matches = [];
            }

            filterCities.forEach(element => {
                if (filterSearch.value.trim().length !== 0) {
                    if (matches.map(matchElem => matchElem.textContent).includes(element.textContent)) {
                        element.parentElement.setAttribute('style', 'display:block!important');
                    } else {
                        element.parentElement.setAttribute('style', 'display:none!important');
                    }
                } else {
                    element.parentElement.setAttribute('style', '');
                }
            })
        });
    };

    initSearch();

    ymaps.ready(function () {

        map = new ymaps.Map('map', {
            center: [80, 60],
            zoom: 3.2,
            controls: ['zoomControl']
        }),

            objectManager = new ymaps.ObjectManager();
        map.controls.get('zoomControl').options.set({size: 'small'});

        const renderMap = (geoJson) => {
            geoJson.features.forEach(function (obj) {
                obj.properties.balloonContent = obj.properties.description;
                if (obj.properties.markerColor == '#124568') {
                    obj.options = {
                        preset: 'islands#nightIcon',
                    }
                }
            });
            objectManager.add(geoJson);
            map.geoObjects.add(objectManager);
        }

        const geoJson = {
            "type": "FeatureCollection",
            "metadata": {"name": "Медлогистикс - Контакты", "creator": "Yandex Map Constructor"},
            "features": [{
                "type": "Feature",
                "id": 0,
                "geometry": {"type": "Point", "coordinates": [30.380484, 60.066522]},
                "properties": {
                    "description": "Россия, Санкт-Петербург, 2-й Верхний переулок, 13 лит А",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 1,
                "geometry": {"type": "Point", "coordinates": [30.446869, 59.932928]},
                "properties": {
                    "description": "Россия, Санкт-Петербург, улица Латышских Стрелков, 31А",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 2,
                "geometry": {"type": "Point", "coordinates": [30.297965, 59.840985]},
                "properties": {
                    "description": "Россия, Санкт-Петербург, Кубинская улица, 75к1",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 3,
                "geometry": {"type": "Point", "coordinates": [30.25852, 59.88758]},
                "properties": {
                    "description": "Россия, Санкт-Петербург, проспект Стачек, 45к2",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 4,
                "geometry": {"type": "Point", "coordinates": [30.420163, 59.78809]},
                "properties": {
                    "description": "Россия, Санкт-Петербург, Пушкинский район, посёлок Шушары, Московское шоссе, 52литА",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 5,
                "geometry": {"type": "Point", "coordinates": [30.340554, 59.896201]},
                "properties": {
                    "description": "Россия, Санкт-Петербург, Воздухоплавательная улица, 19",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 6,
                "geometry": {"type": "Point", "coordinates": [30.463732, 59.846424]},
                "properties": {
                    "description": "г. Санкт-Петербург, ул. Запорожская, логопарк «Троицкий» (ст. м. Обухово)",
                    "iconCaption": "Троицкий логопарк",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 7,
                "geometry": {"type": "Point", "coordinates": [37.519252, 55.896731]},
                "properties": {"description": "Россия, Москва, Лобненская улица, 18с1", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 8,
                "geometry": {"type": "Point", "coordinates": [37.708356, 55.710367]},
                "properties": {
                    "description": "Россия, Москва, Волгоградский проспект, 42к23",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 9,
                "geometry": {"type": "Point", "coordinates": [37.645267, 55.599982]},
                "properties": {
                    "description": "Россия, Москва, улица Подольских Курсантов, 17к2",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 10,
                "geometry": {"type": "Point", "coordinates": [37.757584, 55.717386]},
                "properties": {"description": "Россия, Москва, 1-й Вязовский проезд, 4с19", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 11,
                "geometry": {"type": "Point", "coordinates": [82.929296, 54.945619]},
                "properties": {
                    "description": "Россия, Новосибирск, улица Петухова, 79/3 ( Северный проезд, 47)  ",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 12,
                "geometry": {"type": "Point", "coordinates": [82.867142, 55.045274]},
                "properties": {"description": "Россия, Новосибирск, Сухарная улица, 35/1", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 13,
                "geometry": {"type": "Point", "coordinates": [82.984776, 55.076731]},
                "properties": {
                    "description": "Россия, Новосибирск, улица Авиастроителей, 30",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 14,
                "geometry": {"type": "Point", "coordinates": [82.82502, 54.957728]},
                "properties": {
                    "description": "Россия, Новосибирск, Толмачёвская улица, 19к10",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 15,
                "geometry": {"type": "Point", "coordinates": [82.910225, 55.122056]},
                "properties": {"description": "Россия, Новосибирск, Кубовая улица, 25", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 16,
                "geometry": {"type": "Point", "coordinates": [82.793102, 54.999459]},
                "properties": {"description": "Россия, Новосибирск, Станционная улица, 80к2", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 17,
                "geometry": {"type": "Point", "coordinates": [60.759746, 56.921887]},
                "properties": {
                    "description": "Россия, Свердловская область, Берёзовский, Режевской тракт, 15-й километр",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 18,
                "geometry": {"type": "Point", "coordinates": [60.752964, 56.757702]},
                "properties": {
                    "description": "Россия, Свердловская область, Екатеринбург, улица Черняховского, 86к7",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 19,
                "geometry": {"type": "Point", "coordinates": [60.630532, 56.908109]},
                "properties": {
                    "description": "Россия, Свердловская область, Екатеринбург, Таганская улица, 60",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 20,
                "geometry": {"type": "Point", "coordinates": [60.51597, 56.896362]},
                "properties": {
                    "description": "Россия, Свердловская область, Екатеринбург, улица Монтажников, 30А",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 21,
                "geometry": {"type": "Point", "coordinates": [60.683317, 56.823336]},
                "properties": {
                    "description": "Россия, Свердловская область, Екатеринбург, Чистопольская улица, 6",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 22,
                "geometry": {"type": "Point", "coordinates": [60.680623, 56.884153]},
                "properties": {
                    "description": "Россия, Свердловская область, Екатеринбург, Норильская улица, 77 (База «Звезда»)",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 23,
                "geometry": {"type": "Point", "coordinates": [60.612773, 56.7785]},
                "properties": {
                    "description": "Россия, Свердловская область, Екатеринбург, улица Титова, 19к1",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 24,
                "geometry": {"type": "Point", "coordinates": [49.189939, 55.774538]},
                "properties": {
                    "description": "Россия, Республика Татарстан, Казань, улица Аделя Кутуя, 151",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 25,
                "geometry": {"type": "Point", "coordinates": [49.050431, 55.83342]},
                "properties": {
                    "description": "Россия, Республика Татарстан, Казань, улица Восстания, 100к9160",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 26,
                "geometry": {"type": "Point", "coordinates": [49.105147, 55.756563]},
                "properties": {
                    "description": "Россия, Республика Татарстан, Казань, Приволжский район, Магистральная улица, 4",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 27,
                "geometry": {"type": "Point", "coordinates": [49.135088, 55.734739]},
                "properties": {
                    "description": "Россия, Республика Татарстан, Казань, Техническая улица, 52А",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 28,
                "geometry": {"type": "Point", "coordinates": [43.907235, 56.309534]},
                "properties": {
                    "description": "Россия, Нижний Новгород, Московское шоссе, 52",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 29,
                "geometry": {"type": "Point", "coordinates": [43.989772, 56.247421]},
                "properties": {"description": "Россия, Нижний Новгород, улица Геологов, 1", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 30,
                "geometry": {"type": "Point", "coordinates": [43.885217, 56.294356]},
                "properties": {
                    "description": "Россия, Нижний Новгород, Удмуртская улица, 38",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 31,
                "geometry": {"coordinates": [61.385288, 55.205867], "type": "Point"},
                "properties": {"description": "Россия, Челябинск, Свердловский тракт, 5", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 32,
                "geometry": {"coordinates": [61.433492, 55.214707], "type": "Point"},
                "properties": {"description": "Россия, Челябинск, улица Северный Луч, 1А", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 33,
                "geometry": {"coordinates": [61.388064, 55.105753], "type": "Point"},
                "properties": {"description": "Россия, Челябинск, Троицкий тракт, 54", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 34,
                "geometry": {"coordinates": [92.927904, 56.074891], "type": "Point"},
                "properties": {"description": "Россия, Красноярск, Северное шоссе, 17", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 35,
                "geometry": {"coordinates": [92.944362, 56.07905], "type": "Point"},
                "properties": {"description": "Россия, Красноярск, Северное шоссе, 5Гс26", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 36,
                "geometry": {"coordinates": [50.226532, 53.273377], "type": "Point"},
                "properties": {"description": "Россия, Самара, Демократическая улица, 45А", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 37,
                "geometry": {"coordinates": [50.120908, 53.084933], "type": "Point"},
                "properties": {
                    "description": "Россия, Самарская область, Волжский район, в районе села Преображенка",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 38,
                "geometry": {"coordinates": [50.368933, 53.257801], "type": "Point"},
                "properties": {
                    "description": "Россия, Самарская область, Волжский район, посёлок городского типа Смышляевка, улица Механиков, 2",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 39,
                "geometry": {"coordinates": [50.299305, 53.212889], "type": "Point"},
                "properties": {"description": "Россия, Самара, улица Земеца, 32", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 40,
                "geometry": {"coordinates": [50.226532, 53.273377], "type": "Point"},
                "properties": {"description": "Россия, Самара, Демократическая улица, 45А", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 41,
                "geometry": {"coordinates": [50.174726, 53.182497], "type": "Point"},
                "properties": {
                    "description": "Россия, Самара, Железнодорожный район, Верхне-Карьерная улица, 3Ак1",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 42,
                "geometry": {"coordinates": [56.060659, 54.79676], "type": "Point"},
                "properties": {
                    "description": "Россия, Республика Башкортостан, Уфа, Трамвайная улица, 2",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 43,
                "geometry": {"coordinates": [55.800794, 54.687608], "type": "Point"},
                "properties": {
                    "description": "Россия, Республика Башкортостан, Уфа, Майкопская улица, 59",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 44,
                "geometry": {"coordinates": [56.090797, 54.790682], "type": "Point"},
                "properties": {
                    "description": "Россия, Республика Башкортостан, Уфа, Сельская Богородская улица, 57",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 45,
                "geometry": {"coordinates": [55.988479, 54.739742], "type": "Point"},
                "properties": {
                    "description": "Россия, Республика Башкортостан, Уфа, улица Бессонова, 2Б",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 46,
                "geometry": {"coordinates": [39.612982, 47.200813], "type": "Point"},
                "properties": {
                    "description": "Россия, Ростов-на-Дону, улица Малиновского, 3",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 47,
                "geometry": {"coordinates": [39.617213, 47.198591], "type": "Point"},
                "properties": {"description": "Россия, Ростов-на-Дону, Каширская улица, 5", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 48,
                "geometry": {"coordinates": [73.445925, 54.987281], "type": "Point"},
                "properties": {"description": "Россия, Омск, улица 10 лет Октября, 180БлитБ", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 49,
                "geometry": {"coordinates": [73.481867, 54.987916], "type": "Point"},
                "properties": {
                    "description": "Россия, Омск, посёлок Чкаловский, Космический проспект, 109к1",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 50,
                "geometry": {"coordinates": [38.967686, 45.103462], "type": "Point"},
                "properties": {
                    "description": "Россия, Краснодар, улица Александра Покрышкина, 2/4",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 51,
                "geometry": {"coordinates": [39.065261, 45.034426], "type": "Point"},
                "properties": {"description": "Россия, Краснодар, Уральская улица, 126/1", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 52,
                "geometry": {"coordinates": [39.008569, 45.110899], "type": "Point"},
                "properties": {"description": "Россия, Краснодар, Бульварная улица, 2/2", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 53,
                "geometry": {"coordinates": [39.045094, 45.035349], "type": "Point"},
                "properties": {
                    "description": "Россия, Краснодар, Новороссийская улица, 216/2",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 54,
                "geometry": {"coordinates": [39.153503, 51.686646], "type": "Point"},
                "properties": {"description": "Россия, Воронеж, улица Торпедо, 45В", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 55,
                "geometry": {"coordinates": [39.316269, 51.678074], "type": "Point"},
                "properties": {
                    "description": "Россия, Воронежская область, Новоусманский район, посёлок Отрадное, Придорожная улица, 28",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 56,
                "geometry": {"coordinates": [39.289777, 51.710515], "type": "Point"},
                "properties": {"description": "Россия, Воронеж, улица Землячки, 15", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 57,
                "geometry": {"coordinates": [39.166178, 51.686891], "type": "Point"},
                "properties": {"description": "Россия, Воронеж, Солнечная улица, 10БлитВ", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 58,
                "geometry": {"coordinates": [56.209177, 57.98237], "type": "Point"},
                "properties": {"description": "Россия, Пермь, улица Танкистов, 50", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 59,
                "geometry": {"coordinates": [56.142918, 58.033096], "type": "Point"},
                "properties": {"description": "Россия, Пермь, улица Докучаева, 50/2", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 60,
                "geometry": {"coordinates": [56.20058, 58.004838], "type": "Point"},
                "properties": {"description": "Россия, Пермь, улица Ленина, 79", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 61,
                "geometry": {"coordinates": [56.166373, 57.923047], "type": "Point"},
                "properties": {"description": "Россия, Пермь, Промышленная улица, 123", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 62,
                "geometry": {"coordinates": [56.156015, 58.004008], "type": "Point"},
                "properties": {"description": "Россия, Пермь, Трамвайная улица, 14", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 63,
                "geometry": {"coordinates": [44.409653, 48.762401], "type": "Point"},
                "properties": {"description": "Россия, Волгоград, Моторная улица, 9А", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 64,
                "geometry": {"coordinates": [44.470074, 48.748745], "type": "Point"},
                "properties": {"description": "Россия, Волгоград, улица Землячки, 16", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 65,
                "geometry": {"coordinates": [65.672022, 57.093927], "type": "Point"},
                "properties": {
                    "description": "Россия, Тюмень, Ялуторовский тракт, 11-й километр, 9Дс2",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 66,
                "geometry": {"coordinates": [65.606786, 57.149186], "type": "Point"},
                "properties": {"description": "Россия, Тюмень, Одесская улица, 1с8", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 67,
                "geometry": {"coordinates": [135.153367, 48.430706], "type": "Point"},
                "properties": {"description": "Россия, Хабаровск, Целинная улица, 8", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 68,
                "geometry": {"coordinates": [135.079292, 48.501892], "type": "Point"},
                "properties": {"description": "Россия, Хабаровск, улица Лазо, 3С", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 69,
                "geometry": {"coordinates": [104.257385, 52.294903], "type": "Point"},
                "properties": {
                    "description": "Россия, Иркутск, квартал Затон, улица Набережная Иркута, 1/1",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 70,
                "geometry": {"coordinates": [104.209675, 52.35074], "type": "Point"},
                "properties": {"description": "Россия, Иркутск, улица Новаторов, 1", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 71,
                "geometry": {"coordinates": [131.918103, 43.13142], "type": "Point"},
                "properties": {
                    "description": "Россия, Приморский край, Владивосток, Военное шоссе, 18",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 72,
                "geometry": {"coordinates": [86.139902, 55.308874], "type": "Point"},
                "properties": {"description": "Россия, Кемерово, улица Тухачевского, 60", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 73,
                "geometry": {"coordinates": [86.063293, 55.343973], "type": "Point"},
                "properties": {"description": "Россия, Кемерово, проспект Ленина, 1", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 74,
                "geometry": {"coordinates": [41.930707, 45.078295], "type": "Point"},
                "properties": {"description": "Россия, Ставрополь, проспект Кулакова, 28Б", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 75,
                "geometry": {"coordinates": [41.904162, 45.059918], "type": "Point"},
                "properties": {
                    "description": "Россия, Ставрополь, Промышленный район, микрорайон № 20, 2-я Промышленная улица, 33",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 76,
                "geometry": {"coordinates": [20.550705, 54.709023], "type": "Point"},
                "properties": {
                    "description": "Россия, Калининград, Московский проспект, 184",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 77,
                "geometry": {"coordinates": [20.563021, 54.72711], "type": "Point"},
                "properties": {"description": "Россия, Калининград, Пригородная улица, 20", "marker-color": "#1e98ff"}
            }, {
                "type": "Feature",
                "id": 78,
                "geometry": {"coordinates": [20.510029, 54.724375], "type": "Point"},
                "properties": {
                    "description": "Россия, Калининград, улица Генерал-Лейтенанта Озерова, 30",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 79,
                "geometry": {"coordinates": [33.125556, 68.999114], "type": "Point"},
                "properties": {
                    "description": "Россия, г. Мурманск, Промышленная ул., 19, Деловой центр \"Гринвич\", въезд с Домостроительной ул., 8",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 80,
                "geometry": {"coordinates": [33.134099, 68.992736], "type": "Point"},
                "properties": {
                    "description": "Россия, Мурманск, Домостроительная улица, 16/1, 2 этаж",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 81,
                "geometry": {"coordinates": [113.50157, 52.065615], "type": "Point"},
                "properties": {
                    "description": "Россия, Забайкальский край, Чита, улица Сухая Падь, 3",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 82,
                "geometry": {"coordinates": [113.453681, 52.069629], "type": "Point"},
                "properties": {
                    "description": "Россия, Забайкальский край, Чита, Туринская улица, 1Б",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 83,
                "geometry": {"coordinates": [107.508577, 51.843545], "type": "Point"},
                "properties": {
                    "description": "Россия, Республика Бурятия, Улан-Удэ, микрорайон Заречный, Учебная улица, 2А",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 84,
                "geometry": {"coordinates": [88.188788, 69.348526], "type": "Point"},
                "properties": {
                    "description": "Россия, Красноярский край, Норильск, Комсомольская улица, 35",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 85,
                "geometry": {"coordinates": [47.520645, 42.962281], "type": "Point"},
                "properties": {
                    "description": "Россия, Республика Дагестан, Махачкала, Индустриальный переулок, 11",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 86,
                "geometry": {"coordinates": [142.732606, 46.995006], "type": "Point"},
                "properties": {
                    "description": "Россия, Сахалинская область, Южно-Сахалинск, проспект Мира, 2В/3Астр1",
                    "marker-color": "#1e98ff"
                }
            }, {
                "type": "Feature",
                "id": 87,
                "geometry": {"coordinates": [158.598749, 53.067622], "type": "Point"},
                "properties": {
                    "description": "Россия, Камчатский край, Петропавловск-Камчатский, улица Абеля, 6",
                    "marker-color": "#1e98ff"
                }
            }]
        };

        renderMap(geoJson);
    });
</script>