<!--START: Google Tag Manager-->
<script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K7GDKNM');
</script>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7GDKNM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!--END: Google Tag Manager-->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
<style>
    #company-content-wrapper {
        overflow: hidden;
    }

    .company-content {
        max-width: 100% !important;
        padding: 0 !important;
    }

    ._customer-search {
        display: flex;
        align-items: center;
        width: 100%;
        height: 45px;
        position: relative;
        margin: 0;
    }

    ._customer-search .sf-input-wrapper {
        flex: 1;
        width: auto;
        height: 100%;
    }

    ._customer-search .sf-input {
        width: 100%;
        height: 100% !important;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #d8d8d8;
        border-right: none;
        border-radius: 0;
        padding: 0 30px 0 10px !important;
        background: #fff;
        color: #333;
        font: 400 12px/1.4 Montserrat, sans-serif!important;
    }

    ._customer-search .sf-input::-webkit-input-placeholder {
        color: #8d8d8d !important;
    }

    ._customer-search .sf-input::-moz-placeholder {
        color: #8d8d8d !important;
    }

    ._customer-search .sf-input:-moz-placeholder {
        color: #8d8d8d !important;
    }

    ._customer-search .sf-input:-ms-input-placeholder {
        color: #8d8d8d !important;
    }

    ._customer-search .custom-button {
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
        height: 100% !important;
        width: 45px !important;
        border: none;
        border-radius: 0!important;
        padding: 0 !important;
        background-color: #005fc6 !important;
        background-image: linear-gradient(#004697, #005fc6)!important;
        color: transparent;
        user-select: none;
        overflow: hidden;
        transition: none;
        position: relative;
        margin: 0 !important;
    }
    
     ._customer-search .custom-button:before {
         content: none !important;
     }

    ._customer-search .custom-button:after {
        content: "" !important;
        width: 20px !important;
        height: 20px !important;
        background: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M10.5 18a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15z' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m21 21-5.2-5.2' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center / contain no-repeat;
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
    }

    ._customer-search .custom-button:hover {
        background-image: none !important;
        background-color: #b11d31 !important;
    }

    ._customer-search .company-search-hints {
        width: 100%;
        min-width: 300px;
        padding: 0 !important;
        top: 100%;
    }

    ._customer-search .company-search-hints__list {
        max-height: 150px !important;
        padding: 0;
        scrollbar-color: #004492 #e8e8e8;
        scrollbar-width: thin;
    }

    ._customer-search .company-search-hints__list::-webkit-scrollbar {
        width: 4px;
    }

    ._customer-search .company-search-hints__list::-webkit-scrollbar-track {
        background: #e8e8e8;
    }

    ._customer-search .company-search-hints__list::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: #004492;
    }

    ._customer-search .company-search-hints__item {
        height: auto !important;
        color: #333!important;
        margin: 0 !important;
    }

    ._customer-search .company-search-hints__item:hover {
        background-color: #004492 !important;
        color: #fff!important;
    }

    ._customer-search .company-search-hints__link {
        display: block;
        padding: .5em;
        color: inherit!important;
    }

    .custom-company-toolbar:not(.fixed) .company-search-hints {
        display: none;
    }

    .custom-company-toolbar {
        overflow: visible;
        z-index: 105!important;
    }

    ._customer__toolbar {
        width: 100%;
        height: 56px !important;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
        white-space: nowrap;
        position: relative;
    }

    ._customer-toolbar__container {
        height: 56px !important;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1237px;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }

    ._customer-toolbar__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ._customer-toolbar__logo {
        width: 60 !important;
        height: 47 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    ._customer-toolbar__menu {
        margin-left: 42px;
        max-width: 389px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;       
    }
    
     ._customer-toolbar__menu a {
        text-transform: none !important;
        padding: 0 12px 0;
        margin: 0 0 0 0 !important;
        text-decoration: none !important;
        cursor: pointer;
        box-sizing: border-box;
        color: #000 !important;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
      }

    ._customer-toolbar__menu a:hover {
        text-decoration: underline !important;
    }

    ._customer-toolbar__search {
        align-self: center;
        max-width: 270px;
        margin: 0 10px;
    }

    ._customer-toolbar__contacts {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    ._customer-toolbar__email {
        cursor: pointer;
        padding-left: 20px;
        background: url('/system/ckeditor_assets/pictures/235619/content_toolbar_mail.png') no-repeat 0 6px;
        text-decoration: none !important;
        margin-left: 14px;
        color: #000 !important;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
    }

    ._customer-toolbar__phone {
        cursor: pointer;
        padding-left: 20px;
        background: url('/system/ckeditor_assets/pictures/235620/content_toolbar_phone.png') no-repeat 0 4px;
        margin: 0 0 0 32px !important;
        text-decoration: none !important;
        position: relative;
        color: #000 !important;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
    }

    ._customer-toolbar__phone:hover,
    ._customer-toolbar__email:hover {
        text-decoration: underline !important;
        text-decoration-color: #015fc5 !important;
    }

    @media (max-width: 1144px) {

        ._customer-toolbar__menu {
            padding: 0 5px 0;
            font-size: 12px !important;
            margin-left: 20px;
        }

        ._customer-toolbar__contacts {
            font-size: 14px !important;
        }

        ._customer-toolbar__phone {
            font-size: 16px !important;
            margin: 0 0 0 10px !important;
        }

        ._customer-toolbar__email {
            font-size: 14px !important;
        }

        ._customer-toolbar__email {
            background-position: 0 4px;
        }
    }

    @media (max-width: 1023px) {

        ._customer-toolbar {
            display: none!important;
        }
    }
</style>
<div class="_customer__toolbar">
    <div class="_customer-toolbar__container">
        <div class="_customer-toolbar__left">
            <a class="_customer-toolbar__logo" href="/">
                <img src="/system/ckeditor_assets/pictures/243827/content_toolbar_logo.png">
            </a>
            <div class="_customer-toolbar__menu">
                <a href="/pages/20553-o-kompanii" onclick="yaCounter671088685.reachGoal('megasite_toolbar_link_page_20553'); return true;">О компании</a>
                <a href="/catalog" onclick="yaCounter671088685.reachGoal('megasite_toolbar_link_catalog'); return true;">Товары и услуги</a>
                <a href="/pages/27308-kontakty" onclick="yaCounter671088685.reachGoal('megasite_toolbar_link_page_27308'); return true;">Контакты</a>
            </div>
        </div>
        <form class="_customer-search _customer-toolbar__search search-form with-search-icon js-company-search-hints-form" onsubmit="formSubmitter.disableButtons(this, null, null);" action="/catalog" accept-charset="UTF-8" accept-encoding="UTF-8" method="get">
            <input name="utf8" type="hidden" value="✓">
            <div class="sf-input-wrapper">
                <input id="q" class="sf-input js-reset-field js-company-search-hints-input" type="text" name="q" maxlenght="255" autocomplete="off" placeholder="Найти товар или услугу…">
                <label class="delete dn icon-group js-reset-button search-reset"></label>
            </div>
            <button class="custom-button js-ga-link" data-ga-id="PC4-28229-4" name="commit" type="submit" value="Поиск" onclick="yaCounter671088685.reachGoal('megasite_toolbar_search'); return true; ">Поиск</button>
        </form>
        <div class="_customer-toolbar__contacts">
            <a class="_customer-toolbar__phone" href="tel:+78005501037" onclick="yaCounter71088685.reachGoal('megasite_toolbar_tel'); return true;" target="_blank">8 (800) 550-10-37</a>
            <a class="_customer-toolbar__email" href="mailto:sales@medlogistiks.ru" onclick="yaCounter671088685.reachGoal('megasite_toolbar_email'); return true;" target="_blank">sales@medlogistiks.ru</a>
        </div>
    </div>
</div>
